<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="Home.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
  <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script>
  <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  <meta data-intl-tel-input-cdn-path="intlTelInput/">

   <body class="u-body u-xl-mode" data-lang="en">

    {%- include header.html -%}

    <section class="u-clearfix u-image u-section-1" id="carousel_2f1c" data-image-width="1620" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-black u-container-align-left u-container-style u-group u-radius-15 u-shape-round u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-align-left u-text u-text-1">About Us</h2>
            <p class="u-align-left u-text u-text-2"> {{ site.description }}</p>
            <a href="/categories/meetings" class="u-active-white u-align-left u-border-none u-btn u-button-style u-hover-white u-palette-2-base u-text-active-black u-text-hover-black u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">learn more</a>
            <a href="https://aka.ms/hiaug/join" class="u-active-white u-align-left u-border-none u-btn u-button-style u-hover-white u-palette-2-base u-text-active-black u-text-hover-black u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">join now</a>
            <p class="u-align-left u-text u-text-default u-text-3">Image by DCStudio on <a href="https://www.freepik.com/free-photo/team-industrial-scientists-engineers-developers-innovating-new-vaccine-doctor-pointing-tablet-explaining-virus-evolution-coworker_15785598.htm#query=healthcare%20automation&position=20&from_view=search&track=ais" class="u-border-1 u-border-active-grey-15 u-border-hover-grey-25 u-border-no-left u-border-no-right u-border-no-top u-border-white u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-button-link u-button-style u-none u-radius-0 u-text-body-alt-color u-top-left-radius-0 u-top-right-radius-0 u-btn-2" target="_blank">Freepik</a>
            </p>
          </div>
        </div>
      </div>
    </section>

  </body>

</html>



